<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PERSONELTAKIPConnectionString"
            connectionString="Data Source=DESKTOP-2OH118U\SQLEXPRESS;Initial Catalog=PERSONELTAKIP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>